.elements {
  display: flex;
  flex-wrap: wrap;
  max-width: 880px;
  margin: 51px auto 0 auto;
  gap: 20px 17px;
}

@media (max-width: 896px) {
  .elements {
    max-width: 581px;
  }
}

@media (max-width: 600px) {
  .elements {
    max-width: 282px;
    margin-top: 36px;
  }
}
