.popup__button_inactive {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 2px;
  opacity: 0.15;
  color: black;
}

.popup__button_inactive:hover {
  opacity: 0.15;
  cursor: auto;
}
