.profile__avatar {
  background-image: url("../../../images/image__profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

.profile__avatar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__avatar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../images/edit-avatar.svg");
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__avatar:hover::before {
  opacity: 1;
}

.profile__avatar:hover::after {
  opacity: 1;
}

@media (max-width: 600px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
