.header__text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header__text:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .header__text {
    margin-right: 30px;
  }
}
