.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding-top: 22px;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 720px) {
  .profile__name {
    font-size: 35px;
    line-height: 38px;
  }
}

@media (max-width: 667px) {
  .profile__name {
    max-width: 180px;
  }
}

@media (max-width: 600px) {
  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding: 0;
  }
}
