.profile__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 25px 0;
  max-width: 336px;
  grid-column: span 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 720px) {
  .profile__job {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 600px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 0;
    max-width: 189px;
  }
}
